body {
 background-color:#AAAAAA;
/*margin: 0.5;
    overflow: hidden;*/
}

#webgl{
 /*border:solid 2px red;
 margin-left: 0.5cm;
 width:95%;
 height:95%;*/
 background-color:white;
}
th,td{
    border: solid black 3px;
}